{
    "presets": [
        ["@babel/preset-env",{"targets": {"node": "10.7"}}],
        ["@babel/preset-typescript",{"allowNamespaces": true}]
    ],
    "plugins": [
        "@babel/plugin-syntax-bigint",
        ["@babel/plugin-proposal-nullish-coalescing-operator",{"loose": true}],
        ["@babel/plugin-proposal-optional-chaining",{"loose": true}]
    ],
    "comments": false
}
